.aboutUs {
  display: flex;
  align-items: center;

  &__photo {
    z-index: 2;
  }

  &__info {
    width: 827px;
    position: relative;
    left: -130px;
    border: 87px solid #3e3e3e;
  }

  &__heading {
    left: -50px;
    margin-bottom: 5px;
    margin-top: 128px;

    &::before {
      width: 120%;
    }
  }

  &__text {
    background-color: $bg-color;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 37px;
    margin-left: 73px;
    width: 780px;

    &:first-of-type {
      padding-top: 47px;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__button {
    margin-left: 73px;
    margin-bottom: 125px;
  }
}

@media (max-width: $maxWidth) {
  .aboutUs {
    justify-content: center;

    &__info {
      width: 650px;
    }

    &__heading {
      @include headingSmall;
      margin-left: 0;
    }

    &__text {
      width: 600px;
      font-size: 18px;
    }
  }
}

@media (max-width: $averageWidth) {
  .aboutUs {
    &__info {
      width: 600px;
    }

    &__photo {
      width: 700px;
    }

    &__heading {
      margin-top: 50px;
    }

    &__text {
      padding-bottom: 20px;

      &:first-of-type {
        padding-top: 20px;
      }
    }

    &__button {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: $smallWidth) {
  .aboutUs {
    &__info {
      width: 550px;
    }

    &__photo {
      width: 550px;
    }

    &__heading {
      margin-top: 40px;
    }

    &__text {
      width: 550px;
      padding-bottom: 10px;
      line-height: 30px;

      &:first-of-type {
        padding-top: 20px;
      }
    }

    &__button {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: $tablet) {
  .aboutUs {
    flex-direction: column;

    &__info {
      left: 0;
    }

    &__photo {
      display: none;
    }
  }
}

@media (max-width: $bigMobile) {
  .aboutUs {
    &__text {
      margin-left: 20px;
      width: 70vw;
    }

    &__button {
      margin-left: 20px;
    }

    &__heading {
      @include headingMobil;
    }

    &__info {
      width: 80vw;
      border-width: 60px;
    }
  }
}

@media (max-width: $averageMobile) {
  .aboutUs {
    &__info {
      border-width: 40px;
    }
  }
}

@media (max-width: $smallMobile) {
  .aboutUs {
    &__heading {
      @include headingMobilSmall;
    }
  }
}

@media (max-height: $horizontalMobileHeight) {
  .aboutUs {
    &__heading {
      @include headingMobileHorizontal;
    }

    &__info {
      border-width: 30px;
    }

    &__text {
      width: 80vw;
    }
  }
}
