.contacts {
  display: flex;
  align-items: center;
  padding-bottom: 136px;

  &__map {
    width: 1090px;
    height: 647px;
  }

  &__list {
    margin-left: 30px;
  }

  &__heading {
    left: -250px;
    margin-bottom: 52px;

    &::before {
      width: 120%;
    }
  }

  &__item {
    margin-top: 36px;
  }

  &__head {
    color: #7e7e7e;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
  }

  &__icons {
    margin: 24px 0;
  }

  &__link .icon:hover {
    fill: $red-color;
  }
}

@media (max-width: $averageWidth) {
  .contacts {
    &__heading {
      @include headingSmall;
      margin-left: 0;
    }

    &__map {
      margin-left: 100px;
      height: 90vh;
    }
  }
}

@media (max-width: $tablet) {
  .contacts {
    &__map {
      height: 50vh;
    }
  }
}

@media (max-width: $bigMobile) {
  .contacts {
    &__heading {
      @include headingMobil;
      left: -120px;
    }

    &__item {
      margin-top: 20px;
    }
  }
}

@media (max-width: $averageMobile) {
  .contacts {
    flex-direction: column;

    &__map {
      width: 100vw;
      margin-left: 0;
    }

    &__heading {
      left: 0;
      margin-top: 30px;
    }
  }
}

@media (max-height: $horizontalMobileHeight) {
  .contacts {
    padding: 10px;
    flex-direction: column;

    &__map {
      height: calc(100vh - 100px);
    }

    &__heading {
      display: none;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
  }
}
