.header {
  &__top {
    padding: 18px 47px 18px 175px;
    display: flex;
    justify-content: space-between;
    background: #525252;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  &__content {
    padding: 170px 0 110px 175px;
    display: flex;
    align-items: center;
  }

  &__image {
    display: inline-block;
    margin-right: 48px;
    position: relative;
  }

  &__info {
    position: relative;
    top: 17px;
  }

  &__heading {
    color: $text-color;
    font-size: 110px;
    position: relative;

    &::before {
      position: absolute;
      left: -245px;
      bottom: -22px;
      content: "";
      width: 828px;
      height: 2px;
      background-color: $red-color;
    }
  }

  &__text {
    color: $text-color;
    font-size: 36px;
    position: relative;
    margin-top: 54px;
    left: 38px;
  }
}

.top {
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/menu.png");
    background-size: contain;
    background-position: center;
    display: none;
  }
}

.lang {
  margin: 0 56px;
  display: flex;
  justify-content: space-between;

  &__item {
    margin-right: 17px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 18px;
    color: #686868;
    text-transform: uppercase;
    transition: all 0.5s;

    &--active {
      font-weight: bold;
      color: $red-color;
    }

    &:hover {
      cursor: pointer;
      color: $red-color;
    }
  }
}

@media (max-width: $averageWidth) {
  .top {
    padding: 18px 30px 18px 75px;
  }

  .lang {
    margin: 0 40px;
  }

  .header {
    &__content {
      padding-left: 75px;
    }

    &__image {
      width: 450px;
    }

    &__heading {

      &::before {
        bottom: -9px;
      }
    }
  }
}

@media (max-width: $smallWidth) {
  .top {
    padding-left: 30px;
  }

  .lang {
    margin: 0 30px;
  }

  .header {
    &__content {
      padding: 100px 30px;
    }
  }
}

@media (max-width: 1300px) {
  .header {
    &__heading {
      font-size: 90px;

      &::before {
        bottom: -16px;
        width: 700px;
      }
    }

    &__text {
      font-size: 30px;
    }

    &__content {
      padding-top: 50px;
    }
  }
}

@media (max-width: $tablet) {
  .header {
    &__content {
      position: relative;
      top: 90px;
    }
  }

  .top {
    position: fixed;
    width: 100vw;
    z-index: 4;

    &__menu {
      display: block;
    }
  }
}

@media (max-width: $bigMobile) {
  .header {
    &__logo {
      width: 200px;
    }

    &__lang {
      display: none;
    }

    &__button {
      display: none;
    }

    &__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__image {
      width: 80vw;
      margin-right: 0;
    }

    &__heading {
      font-size: 48px;

      &:before {
        width: 100%;
        left: 0;
      }
    }

    &__text {
      left: 0;
      margin-top: 30px;
    }
  }
}

@media (max-height: $horizontalMobileHeight) {
  .header {
    max-height: 100vh;

    &__content {
      padding-top: calc((100vh - 90px - (80vh - 90px)) / 2);
      flex-direction: row;
      text-align: left;
    }

    &__image {
      max-height: calc(80vh - 90px);
    }

    &__heading {
      left: -20px;

      &::before {
        left: -140px;
        bottom: -14px;
        width: calc(100% + 100px);
      }
    }

    &__text {
      left: 0;
      top: -10px;
    }
  }
}
