.posts {
  &__headingBlock {
    position: relative;
    width: fit-content;
  }

  &__heading {
    margin-bottom: 76px;
  }

  &__more {
    @include headingMore;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
  }

  &__card {
    width: 770px;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.card {
  &__photoBox {
    overflow: hidden;
    height: 400px;
  }

  &__photo {
    transition: transform 0.5s;
    width: 770px;
  }

  &:hover &__photo {
    transform: scale(1.1);
  }

  &__info {
    background-color: #3e3e3e;
    padding: 48px;
  }

  &__heading {
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
  }

  &__bottomLine {
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
  }

  &__details {
    @include headingMore;
    text-transform: uppercase;
    position: relative;
    left: 48px;
    bottom: 0;
  }

  &__date {
    font-size: 16px;
    line-height: 24px;
    color: #a7a7a7;
  }
}

@media (max-width: 1700px) {
  .posts {
    &__list {
      justify-content: center;
    }
  }

  .card {
    width: 600px;

    &__photoBox {
      width: 600px;
      height: 310px;
    }

    &__photo {
      width: 600px;
      object-fit: contain;
    }
  }
}

@media (max-width: $averageWidth) {
  .posts {
    &__heading {
      @include headingSmall;
    }
  }
}

@media (max-width: 1300px) {
  .posts {
    &__list {
      flex-wrap: wrap;
    }
  }

  .card {
    margin: 15px 0;
  }
}

@media (max-width: $bigMobile) {
  .posts {
    &__heading {
      @include headingMobil;
    }

    &__more {
      @include headingMoreMobil;
    }
  }
}

@media (max-width: $averageMobile) {
  .card {
    width: 90vw;

    &__photoBox {
      width: 90vw;
      height: 30vh;
    }

    &__photo {
      width: 120vw;
      object-fit: cover;
    }

    &__heading {
      font-size: 24px;
    }

    &__info {
      padding: 10px;
    }

    &__bottomLine {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: $smallMobile) {
  .posts {
    &__heading {
      @include headingMobilSmall;
    }
  }
}
