.responses {
  padding-right: 0;

  &__item {
    margin-right: 30px;
    padding: 29px 36px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #3e3e3e;
    max-width: 610px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: 21px;
    margin-bottom: 16px;
  }

  &__name {
    color: $red-color;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }

  &__position {
    color: #a7a7a7;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: $averageWidth) {
  .responses {
    &__heading {
      @include headingSmall;
    }
  }
}

@media (max-width: $bigMobile) {
  .responses {
    &__heading {
      @include headingMobil;
    }

    &__item {
      width: 90vw;
    }
  }
}

@media (max-width: $smallMobile) {
  .responses {
    &__heading {
      @include headingMobilSmall;
    }
  }
}

@media (max-height: $horizontalMobileHeight) {
  .responses {
    &__item {
      padding: 10px;
    }

    &__heading {
      @include headingMobileHorizontal;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;
      margin: 10px;
    }

    &__name {
      font-size: 18px;
      line-height: 18px;
    }

    &__position {
      font-size: 14px;
      line-height: 1;
    }

    &__icon {
      width: 20px;
    }
  }
}
