.section {
  padding: 100px 0 36px $paddingMax;

  &__heading {
    @include heading;
  }
}

@media (max-width: $maxWidth) {
  .section {
    padding-left: $padding1800;
    padding-right: $padding1800;
  }
}

@media (max-width: $averageWidth) {
  .section {
    padding-left: $padding1600;
    padding-right: $padding1600;
  }
}

@media (max-width: $smallWidth) {
  .section {
    padding-left: $paddingMin;
    padding-right: $paddingMin;
  }
}
