.team {
  &__photo {
    transition: transform 0.5s;
  }

  &__card {
    overflow: hidden;
    position: relative;
    margin-right: 32px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover .team__photo {
      transform: scale(1.05);
    }
  }

  &__headingBlock {
    position: relative;
    width: fit-content;
  }

  &__more {
    @include headingMore;
  }

  &__list {
    margin-top: 76px;
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    position: absolute;
    width: 100%;
    padding: 16px 0 8px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  }

  &__name {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  &__position {
    color: $red-color;
    font-size: 20px;
    margin: 8px auto;
    line-height: 24px;
    font-weight: 400;
  }

  &__text {
    margin-bottom: 8px;
  }
}

@media (max-width: 1775px) {
  .team {
    &__list {
      justify-content: center;
    }

    &__card {
      margin: 16px;
    }
  }
}

@media (max-width: $averageWidth) {
  .team {
    &__heading {
      @include headingSmall;
    }

    &__photo {
      width: 400px;
    }
  }
}

@media (max-width: $bigMobile) {
  .team {
    &__heading {
      @include headingMobil;
    }
  }
}

@media (max-width: $averageMobile) {
  .team {
    &__more {
      @include headingMoreMobil;
    }

    &__photo {
      width: 80vw;
    }

    &__name {
      font-size: 24px;
      line-height: 24px;
      text-align: center;
    }

    &__position {
      font-size: 18px;
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
}

@media (max-width: $smallMobile) {
  .team {
    &__heading {
      @include headingMobilSmall;
    }
  }
}
